manifest {
    name = 'Measuring selection in avian immune genes'
    author = 'Mahesh Binzer-Panchal, Emily O\'Connor'
    homePage = ''
    description = 'A workflow to measure selection in avian immune genes'
    mainScript = 'main.nf'
    //  '!>=21.04.0' : Run with version 21.04.0 or higher, otherwise exit.
    nextflowVersion = '!>=21.04.0'
    version = '1.0'
}

params {
    // Include default parameters for the workflow.
    // Override them in the params.yml located in the analyses directories.

    // Workflow inputs
    // Prank sequence file
    gene_sequences = ''
    // Prank species tree
    species_tree = ''
    // Optional two column file of species and their labels
    species_labels = ''
    // HyPhy model
    hyphy_test = [:]
    // Run Codonphyml
    run_codonphyml = false

    // Workflow outputs
    results = 'results'
    // Mode of copying results from the work directory
    // 'symlink' : Use for test data.
    // 'copy'    : Use for full analysis data.
    publish_mode = 'copy'
}

// Module configuration options
includeConfig "${projectDir}/configs/modules.config"
// Paths to publish results.
includeConfig "${projectDir}/configs/publishDirs.config"

profiles {

    // A profile for the Dardel clusters
    dardel {
        // Use nf-core pdc_kth profile (benefit of automatic best practices)
        includeConfig 'https://raw.githubusercontent.com/nf-core/configs/refs/heads/master/conf/pdc_kth.config'
        // process {
        //     executor            = 'slurm'
        //     clusterOptions      = { "-p shared -A ${params.project} ${params.clusterOptions ?: ''}" }
        //     containerOptions    = "-B /cfs/klemming/projects/"
        // }
        // Specify resources to use.
        includeConfig "${projectDir}/configs/compute_resources.config"
        // // Specify singularity containers to use.
        // singularity.enabled     = true
    }

    // A profile for running locally with Docker
    docker_local {
        process {
            executor            = 'local'
            scratch             = true
        }
        includeConfig "${projectDir}/configs/compute_resources.config"
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }

    // A profile for running locally with Singularity on dardel
    // https://support.pdc.kth.se/doc/support-docs/run_jobs/run_interactively/
    dardel_local {
        process {
            executor             = 'local'
            scratch              = '$PDC_TMP'
        }
        includeConfig "${projectDir}/configs/compute_resources.config"
        singularity.enabled      = true
        singularity.envWhitelist = 'PDC_TMP'
    }

    pipeline_info {
        timeline {
            enabled   = true
            file      = "${params.results}/pipeline_info/execution_timeline.html"
            overwrite = true
        }
        report {
            enabled   = true
            file      = "${params.results}/pipeline_info/execution_report.html"
            overwrite = true
        }
        trace {
            enabled   = true
            file      = "${params.results}/pipeline_info/execution_trace.txt"
            overwrite = true
        }
        dag {
            enabled   = true
            file      = "${params.results}/pipeline_info/pipeline_dag.svg"
            overwrite = true
        }
    }
}
