// Result publishing paths
process {
    withName: 'SANITIZE_STOP_CODONS' {
        publishDir = [
            [
                path: { "${params.results}/01_Sanitized_Sequences" },
                pattern: "*_nostop.fasta",
                mode: params.publish_mode,
            ],
            [
                path: { "${params.results}/00_Problematic_Sequences" },
                pattern: "*.csv",
                mode: params.publish_mode,
            ],
        ]
    }
    withName: 'PRANK' {
        publishDir = [
            path: { "${params.results}/02_Prank_alignment" },
            pattern: "*.{best.fas,phy,txt}",
            mode: params.publish_mode,
        ]
    }
    withName: 'CODONPHYML' {
        publishDir = [
            path: { "${params.results}/03_Codonphyml" },
            mode: params.publish_mode,
        ]
    }
    withName: 'HYPHY|JQ' {
        publishDir = [
            path: { "${params.results}/04_HyPhy_selection_analysis" },
            mode: params.publish_mode,
        ]
    }
    withName: 'PAML' {
        publishDir = [
            path: { "${params.results}/05_PAML" },
            mode: params.publish_mode,
        ]
    }
}
